doctype html
html(lang="en")
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Veem Technical Assestment
  link(rel="stylesheet", href="./styles/index.css")

include ../data/speakers
body.col
    block mainContent
    include ./modal
script(src="./js/main.js")